<nav
  class="navbar is-white has-shadow"
  role="navigation"
  aria-label="main navigation"
>
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="/yunuki-logo.png" width="112" height="28" />
    </a>
    <a
      role="button"
      class="navbar-burger"
      [class.si-active]="isActive"
      aria-label="menu"
      aria-expanded="false"
      data-target="navbarBasicExample"
      (click)="handleActive()"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="navbarBasicExample" class="navbar-menu" [class.is-active]="isActive">
    <div class="navbar-start"></div>
    <div class="navbar-end">
      <div class="navbar-item">
        @if(showYunukiLink){
        <a (click)="goToYunukiPage()" class="mr-6">Volver a tu yunuki</a>
        } @if(showCemeteryLink){
        <a (click)="goToCemeteryPage()" class="mr-6">Ir al cementerio</a>
        }
        <p class="mr-3 has-text-weight-semibold">{{ username }}</p>
        <div class="buttons">
          <a class="button is-info" (click)="logout()"> Cerrar Sesión </a>
        </div>
      </div>
    </div>
  </div>
</nav>
